.DS_Store
.ipynb_checkpoints
__pycache__
temp/*
manual-inspection/hashtag/*
manual-inspection/citeseq/*
manual-inspection/asapseq/*
manual-inspection/cellplex/*
tutorial/*.h5ad
configs/archive/*
configs/sanity-check/*
configs/devtest/*
*.log
dockers/hto-adt-postprocess/*classification.tsv.gz
dockers/hto-adt-postprocess/stats.yml
dockers/hto-adt-postprocess/tests/
dockers/hto-adt-postprocess/data/*.pickle
